{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SaaS Admin{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="app-layout">

    <!-- SIDEBAR -->
    <div class="sidebar">

        <div class="logo">SaaS Admin</div>

        <div class="menu">
            <a class="menu-item" href="/dashboard/">Dashboard</a>
            <a class="menu-item" href="/accounts/users/page/">Users</a>
            <a class="menu-item" href="/organizations/page/">Organizations</a>
            <a class="menu-item" href="/projects/page/">Projects</a>
            <a class="menu-item" href="/projects/tasks/page/">Tasks</a>
            <a class="menu-item" href="/projects/comments/page/">Comments</a>
            <a class="menu-item" href="/projects/activity/page/">Activity Logs</a>
        </div>

        <form method="POST" action="/accounts/logout/">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Logout</button>
        </form>

    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>

</div>

</body>
</html>