{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Create Task</h2>

<div class="card p-4 shadow-sm">
<form id="task-form">
    <div class="mb-3">
        <label>Title</label>
        <input type="text" id="title" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea id="description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label>Status</label>
        <select id="status" class="form-select">
            <option value="todo">To Do</option>
            <option value="in_progress">In Progress</option>
            <option value="done">Done</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success w-100">
        Create Task
    </button>
</form>
</div>

<script>
document.getElementById("task-form").addEventListener("submit", function(e) {
    e.preventDefault();

    fetch("/api/tasks/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            title: document.getElementById("title").value,
            description: document.getElementById("description").value,
            status: document.getElementById("status").value
        })
    }).then(res => res.json())
      .then(() => {
          window.location.href = "/dashboard/";
      });
});
</script>

{% endblock %}