{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row g-4">
    <div class="col-md-4">
        <div class="card p-3">
            <h6>Organizations</h6>
            <h2>{{ orgs|length }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h6>Projects</h6>
            <h2>{{ projects|length }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h6>Your Tasks</h6>
            <h2>{{ tasks|length }}</h2>
        </div>
    </div>
</div>

{% endblock %}