{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">Notifications</h2>

<div class="card">
{% for n in notifications %}
    <div class="notification-item {% if not n.is_read %}unread{% endif %}">
        <div>
            {{ n.message }}
            <small class="text-muted d-block">
                {{ n.created_at }}
            </small>
        </div>

        {% if not n.is_read %}
        <a href="{% url 'mark_notification_read' n.id %}" class="btn btn-sm btn-outline-success">
            Mark Read
        </a>
        {% endif %}
    </div>
{% empty %}
    <p>No notifications</p>
{% endfor %}
</div>

{% endblock %}