<!DOCTYPE html>
<html>
<head>
    <title>Notifications</title>
</head>
<body>

<h1>Notifications</h1>

<a href="/projects/dashboard/">⬅ Back</a>

<hr>

<h2>Create Notification</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send</button>
</form>

<hr>

<h2>Your Notifications</h2>

<ul>
{% for n in notifications %}
    <li>
        {% if not n.is_read %}
            <strong>(NEW)</strong>
        {% endif %}

        {{ n.message }}

        {% if not n.is_read %}
            <a href="{% url 'mark_notification_read' n.id %}">Mark Read</a>
        {% endif %}
    </li>
{% empty %}
    <li>No notifications</li>
{% endfor %}
</ul>

</body>
</html>